/*Author: Sydney Slaton 
 * Date: 2/20/25
 * File Name: styles.css*/

/*CSS Reset*/
body, header, nav, main, footer, h1, h2, h3, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}


/* 1 Style rule for body and image*/
body {
    Background-color: #FFF9EB; 
}
img {
    max-width: 100%; 
    display: block; 
}

/* Style rule for header*/
header {
    background-color: #FB8500;
    color: #FFEDC2;
    width: 100%;
    float: top; 
    text-align-last: center;
     font-family: Garamond, serif;
}

/*style rule for navigation area*/ 
nav {
    width: 100;
    background-color: #FFEDC2;
    font-family: Garamond, serif; 
    font-size: 2em;
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}
nav li {
    list-style-type: none;
    display: inline;
    font-size: 1em;
}

/* style rule for main content*/
main {
    clear: left;
    background-color: #FFF9EB; 
    padding: 0 1em;
    font-family: Garamond, serif;
    font-size: 0 1em 
}

/*style rule for footer content*/
footer {
    font-size: 0.75em;
    text-align: left;
    color: #FFEDC2;
    padding: 0 1em;
    padding-bottom: 1em;
    padding-top: 1em
}

/*Style rule for links*/
a {
    color: #FB8500;
    text-decoration: none;
}
/*visited links*/
a:visited {
    color: #E36414;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
    color: #E36414
}

/* style rule for unordered lists*/
ul {
    list-style-type: circle;
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em
}

/*style rule for heading 2*/ 
h2 {
    color: #FB8500;
}

/*Style rule for ids */ 
#News, #Illustrator {
    width: 35%;
    float: right; 
    margin: 0 2%;
}

/* style rule for class selector*/
.action {
    font-size: 1.5em;
    color: #FB8500;
    font-style: italic;
}